doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Webdesigner Mr.Woong site
        include includes/comm_style.pug
    body 
        include includes/comm_header.pug 
        h1(class="d-none") contact 
        main
            hgroup(class="text-center py-2")
                h2(class="caps") contact &amp; request Lists 
                h3 작업요청 및 문의 리스트
            article
                h2(class="d-none") main - contactList
                div(class="container")
                    table(class="contact_list")
                        tr 
                            th 번호
                            th 구분
                            th 이름
                            th 연락처
                            th 이메일
                            th 제목
                            th 내용
                            th 등록일
                        each data in dataset
                            tr 
                                td= data.id
                                td= data.gubun
                                td= data.name
                                td= data.phone
                                td= data.email
                                td= data.title
                                td= data.memo
                                td= data.regdate

        include includes/comm_footer.pug